//header

.header__logo{
    &--content-resto{
        gap: 42px;
        padding: 14px 89px 13px 17px;
    }
}
.header__icon-return {
    font-size: 1.4rem;
    color: $dark-grey;
}
.header__img {
    width: 100%;
    height: 275px;
    object-fit: cover;
}

//main-container

.main-content {
    @include flex-column;
    background-color: $section-background;
    gap: 40px;
    padding: 32px 13px 40px 13px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    position: relative;
    margin-top:-55px;
}
.main-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    &--title-style{
    font-family: 'Shrikhand', cursive;
    font-size: 1.75rem;
    }
}

//différentes sections menu

.menu-content {
    display: flex;
    flex-direction: column;
    gap: 12px;
    &__title {
        font-size: 1rem;
        font-weight: 300;
        text-transform: uppercase;
    }
    &__btn {
        @include base-button;
        @include flex-center;
        width: 186px;
        padding: 16px 49px;
    }
}
.menu-content__title::after {
    content: "";
    display: flex;
    background-color: $tertiary-color;
    width: 40px;
    height: 3px;
    margin-top: 5px;
}
.menu-card {
    @include base-card;
    display: flex;
    height: 69px;
    cursor: pointer;
    animation: appear-delay 2000ms ease-in-out both;
    @for $i from 1 through 10 {
        &--#{$i} {
            animation-delay: 200ms * $i;
        }
    }
    &__text{
        display: flex;
        flex-direction: column;
        padding: 15px 0px 15px 15px;
    }
    &__title{
        font-size: 1.1rem;
        font-weight: 500;
    }
    &__subtitle{
        font-size: 0.93rem;
        font-weight: 300;
    }
    &__price{
        font-size: 0.93rem;
        font-weight: 700;
        display: flex;
        align-items: flex-end;
        margin-left: auto;
        margin-right: 15px;
        padding-bottom: 15px;
    }
}
.menu-card,
.menu-card__text {
    overflow: hidden;
}
.menu-card__title,
.menu-card__subtitle {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.menu-card__checked {
    @include flex-center;
    flex-shrink: 0;
    background: $tertiary-color;
    width: 59px;
    height: 69px;
    margin-right: -59px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    color: $white-content;
    font-size: 1.5rem;
    transition-duration: 600ms;
}
.button {
    display: flex;
    justify-content: center;
}