@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
    width: 100%;
}

@mixin base-button {
    font-size: 1rem;
    font-weight: 500;
    height: 50px;
    border-radius: 25px;
    color: $white-content;
    background: linear-gradient(0deg, $primary-color -11.44%, $secondary-color 123.93%);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25); 
    transition: all 300ms;
}

@mixin section-title {
    width: 73%;
    font-size: 1.5rem;
    font-weight: 700;
}

@mixin base-card {
    border-radius: 20px;
    background-color: $white-content;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}