@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&family=Shrikhand&display=swap");
@keyframes dissapear-loading {
  to {
    transform: scale(0);
  }
}
@keyframes loading {
  0% {
    transform: scale(1) rotateY(0);
    color: #9356DC;
  }
  50% {
    transform: scale(0.3) rotateY(180deg);
    color: #FF79DA;
  }
  100% {
    transform: scale(1) rotateY(360deg);
    color: #99E2D0;
  }
}
.heart--liked:hover {
  transform: scale(1);
  color: #be64db;
}

.hero-header__btn:hover,
.menu-content__btn:hover {
  opacity: 0.85;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.4);
}

.resto-card:hover {
  transform: scale(1.05);
}

.menu-card:hover .menu-card__checked {
  margin-right: 0;
}

@keyframes appear-delay {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: normal;
  text-decoration: none;
}

a:not([class]) {
  color: black;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: fixed;
  inset: 0;
  z-index: 1;
  background: white;
  opacity: 0.9;
  animation: dissapear-loading 800ms 3s forwards;
}
.loader__content {
  font-family: "Shrikhand", cursive;
  font-size: 50px;
  text-shadow: 3px 3px black;
  animation: loading 1500ms ease-in-out 2 alternate forwards;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__logo {
  width: 100%;
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 89px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  position: relative;
}

.header-location {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
  background-color: #EAEAEA;
}
.header-location__icon {
  width: 12px;
  height: 16px;
  color: #353535;
}
.header-location__text {
  font-size: 1rem;
  font-weight: 500;
  color: #353535;
}

.hero-header {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  background-color: #F6F6F6;
  text-align: center;
  gap: 18px;
  padding: 39px 0px 57px 0px;
}
.hero-header__title {
  width: 73%;
  font-size: 1.5rem;
  font-weight: 700;
}
.hero-header__text {
  width: 84%;
  font-size: 1.1rem;
  font-weight: 300;
  color: #353535;
  margin-bottom: 9px;
}

.hero-header__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 500;
  height: 50px;
  border-radius: 25px;
  color: white;
  background: linear-gradient(0deg, #9356DC -11.44%, #FF79DA 123.93%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  transition: all 300ms;
  width: 218px;
  padding: 13px 19px;
}

.functioning {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 26px;
  padding: 48px 20px 68px 32px;
}
.functioning__title {
  font-size: 1.5rem;
  font-weight: 700;
}

.functioning .functioning__cards {
  padding: 0;
}

.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 72px;
  border-radius: 20px;
  background-color: #F6F6F6;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}
.card__circle-number {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #9356DC;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  font-size: 0.9rem;
  font-weight: 500;
  position: relative;
  right: 15px;
}
.card__first-icon {
  font-size: 1.3rem;
}
.card__second-icon {
  font-size: 1rem;
}
.card__third-icon {
  font-size: 1.2rem;
  color: #9356DC;
}
.card__text {
  font-size: 1rem;
  font-weight: 500;
  padding-left: 27px;
}

.card__first-icon,
.card__second-icon {
  color: #7E7E7E;
}

.resto {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 54px 20px 66px 20px;
  gap: 18px;
  background-color: #F6F6F6;
}
.resto__title {
  width: 73%;
  font-size: 1.5rem;
  font-weight: 700;
}
.resto__group-1, .resto__group-2 {
  padding: 0px;
}

.resto-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 251px;
  border-radius: 15px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  position: relative;
  transition: all 350ms;
}
.resto-card__img {
  width: 100%;
  height: 174px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  object-fit: cover;
}
.resto-card--banner-new {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 29px;
  font-size: 0.9rem;
  font-weight: 500;
  background-color: #99E2D0;
  color: #008766;
  position: absolute;
  right: 12px;
  top: 12px;
}

.card-content {
  display: flex;
  justify-content: space-between;
  padding: 16px 25px 12px 13px;
}
.card-content__title {
  font-size: 1.1rem;
  font-weight: 700;
  margin-bottom: 5px;
}
.card-content__text {
  font-size: 1rem;
  font-weight: 300;
}

.heart {
  display: flex;
  position: relative;
  height: 22px;
  font-size: 1.4rem;
}
.heart--liked {
  position: absolute;
  color: transparent;
  transition: all 500ms;
  cursor: pointer;
}

.header__logo--content-resto {
  gap: 42px;
  padding: 14px 89px 13px 17px;
}

.header__icon-return {
  font-size: 1.4rem;
  color: #353535;
}

.header__img {
  width: 100%;
  height: 275px;
  object-fit: cover;
}

.main-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #F6F6F6;
  gap: 40px;
  padding: 32px 13px 40px 13px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  position: relative;
  margin-top: -55px;
}

.main-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
}
.main-title--title-style {
  font-family: "Shrikhand", cursive;
  font-size: 1.75rem;
}

.menu-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.menu-content__title {
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
}
.menu-content__btn {
  font-size: 1rem;
  font-weight: 500;
  height: 50px;
  border-radius: 25px;
  color: white;
  background: linear-gradient(0deg, #9356DC -11.44%, #FF79DA 123.93%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  transition: all 300ms;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 186px;
  padding: 16px 49px;
}

.menu-content__title::after {
  content: "";
  display: flex;
  background-color: #99E2D0;
  width: 40px;
  height: 3px;
  margin-top: 5px;
}

.menu-card {
  border-radius: 20px;
  background-color: white;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  display: flex;
  height: 69px;
  cursor: pointer;
  animation: appear-delay 2000ms ease-in-out both;
}
.menu-card--1 {
  animation-delay: 200ms;
}
.menu-card--2 {
  animation-delay: 400ms;
}
.menu-card--3 {
  animation-delay: 600ms;
}
.menu-card--4 {
  animation-delay: 800ms;
}
.menu-card--5 {
  animation-delay: 1000ms;
}
.menu-card--6 {
  animation-delay: 1200ms;
}
.menu-card--7 {
  animation-delay: 1400ms;
}
.menu-card--8 {
  animation-delay: 1600ms;
}
.menu-card--9 {
  animation-delay: 1800ms;
}
.menu-card--10 {
  animation-delay: 2000ms;
}
.menu-card__text {
  display: flex;
  flex-direction: column;
  padding: 15px 0px 15px 15px;
}
.menu-card__title {
  font-size: 1.1rem;
  font-weight: 500;
}
.menu-card__subtitle {
  font-size: 0.93rem;
  font-weight: 300;
}
.menu-card__price {
  font-size: 0.93rem;
  font-weight: 700;
  display: flex;
  align-items: flex-end;
  margin-left: auto;
  margin-right: 15px;
  padding-bottom: 15px;
}

.menu-card,
.menu-card__text {
  overflow: hidden;
}

.menu-card__title,
.menu-card__subtitle {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.menu-card__checked {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background: #99E2D0;
  width: 59px;
  height: 69px;
  margin-right: -59px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  color: white;
  font-size: 1.5rem;
  transition-duration: 600ms;
}

.button {
  display: flex;
  justify-content: center;
}

.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding: 22px 25px;
  gap: 16px;
  background-color: #353535;
}

.footer-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
  gap: 7px;
  color: white;
}
.footer-content__icon-size {
  font-size: 0.8rem;
  padding-right: 5px;
}
.footer-content__link {
  font-size: 1rem;
  font-weight: 500;
  color: white;
}

@media screen and (min-width: 1024px) {
  .header__logo {
    height: 96px;
    padding: 30px 0px;
  }
  .hero-header {
    padding: 30px 0px;
  }
  .hero-header__title {
    font-size: 2.5rem;
    width: auto;
  }
  .functioning {
    padding: 50px 180px;
  }
  .functioning .functioning__cards {
    flex-direction: row;
    gap: 32px;
  }
  .card {
    width: 33%;
  }
  .card__text {
    padding-right: 38px;
  }
  .resto {
    padding: 30px 180px;
    gap: 28px;
  }
  .resto__group-1 {
    margin-bottom: 22px;
  }
  .resto__group-1, .resto__group-2 {
    flex-direction: row;
    gap: 100px;
    padding: 0;
  }
  .footer {
    flex-direction: row-reverse;
    justify-content: flex-end;
    height: 114px;
    padding: 30px 25px;
    gap: 90px;
  }
  .footer__logo {
    display: flex;
    align-items: flex-end;
  }
  .footer-content {
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
  }
  .footer-content__link--spacing {
    padding-right: 40px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .main-content,
  .menu-content {
    align-items: center;
    width: 100%;
  }
  .main-title {
    gap: 24px;
  }
  .menu-card {
    width: 80%;
  }
  .footer {
    flex-direction: row;
  }
  .footer-content {
    align-items: flex-end;
  }
}
@media screen and (min-width: 1024px) {
  .header__logo--content-resto {
    position: relative;
  }
  .header__icon-return {
    position: absolute;
    left: 32px;
    top: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header__img {
    height: 500px;
  }
  .main-content {
    margin: auto;
    margin-top: -40px;
    width: 74%;
    padding: 51px 210px 40px 210px;
  }
  .main-title {
    justify-content: center;
    white-space: nowrap;
    gap: 24px;
  }
}/*# sourceMappingURL=style.css.map */